<% include partials/header %>

</head>
<body style="display: flex; align-items: center;justify-content: center;flex-direction: column;">
	<h1 style="color: blue;">Search For a Movie</h1>
	<form action="/results" method="get">					<!--created form to search the movies-->
	    <input type="text" name="search" placeholder="search term">
	    <input type="submit">				<!--Submit button-->
	</form>
</body>
</html>